<div>
    <h2 id="page-heading">
        <span jhiTranslate="kouponApp.membre.home.title">Membres</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-membre" [routerLink]="['/membre/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="kouponApp.membre.home.createLabel">
            Create new Membre
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'kouponApp.membre.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="membres">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="loginMember"><span jhiTranslate="kouponApp.membre.loginMember">Login Member</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="nomMembre"><span jhiTranslate="kouponApp.membre.nomMembre">Nom Membre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="prenomMembre"><span jhiTranslate="kouponApp.membre.prenomMembre">Prenom Membre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateDeNaissance"><span jhiTranslate="kouponApp.membre.dateDeNaissance">Date De Naissance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="emailMembre"><span jhiTranslate="kouponApp.membre.emailMembre">Email Membre</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="souscrireMailPerso"><span jhiTranslate="kouponApp.membre.souscrireMailPerso">Souscrire Mail Perso</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let membre of membres ;trackBy: trackId">
                <td><a [routerLink]="['/membre', membre.id, 'view' ]">{{membre.id}}</a></td>
                <td>{{membre.loginMember}}</td>
                <td>{{membre.nomMembre}}</td>
                <td>{{membre.prenomMembre}}</td>
                <td>{{membre.dateDeNaissance | date:'mediumDate'}}</td>
                <td>{{membre.emailMembre}}</td>
                <td>{{membre.souscrireMailPerso}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/membre', membre.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/membre', membre.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'membre', { outlets: { popup: membre.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="membres && membres.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
