<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-avis-heading" jhiTranslate="kouponApp.avis.home.createOrEditLabel">Create or edit a Avis</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!avis.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="avis.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kouponApp.avis.textAvis" for="field_textAvis">Text Avis</label>
                    <input type="text" class="form-control" name="textAvis" id="field_textAvis"
                        [(ngModel)]="avis.textAvis" required maxlength="255"/>
                    <div [hidden]="!(editForm.controls.textAvis?.dirty && editForm.controls.textAvis?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.textAvis?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.textAvis?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: 255 }">
                        This field cannot be longer than 255 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kouponApp.avis.derniereUtilisationCoupon" for="field_derniereUtilisationCoupon">Derniere Utilisation Coupon</label>
                    <input type="number" class="form-control" name="derniereUtilisationCoupon" id="field_derniereUtilisationCoupon"
                        [(ngModel)]="avis.derniereUtilisationCoupon" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="kouponApp.avis.deal" for="field_deal">Deal</label>
                    <select class="form-control" id="field_deal" name="deal" [(ngModel)]="avis.deal" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="dealOption.id === avis.deal?.id ? avis.deal : dealOption" *ngFor="let dealOption of deals; trackBy: trackDealById">{{dealOption.refDeal}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
