<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="typeDeCommerce">
            <h2><span jhiTranslate="kouponApp.typeDeCommerce.detail.title">Type De Commerce</span> {{typeDeCommerce.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="kouponApp.typeDeCommerce.nomTypeDeCommerce">Nom Type De Commerce</span></dt>
                <dd>
                    <span>{{typeDeCommerce.nomTypeDeCommerce}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/type-de-commerce', typeDeCommerce.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
